<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_105f1eaa04d84035fde1805876521685 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_105f1eaa04d84035fde1805876521685" ></div>
        
</body>
<script>
    
    
            var map_105f1eaa04d84035fde1805876521685 = L.map(
                "map_105f1eaa04d84035fde1805876521685",
                {
                    center: [32.0809, 34.7806],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_a6c8a4b060b79c766647f83beac4d8c9 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_a6c8a4b060b79c766647f83beac4d8c9.addTo(map_105f1eaa04d84035fde1805876521685);
        
    
            var marker_70920cf9784ee7e8f263519ac85800cc = L.marker(
                [32.0809, 34.7806],
                {}
            ).addTo(map_105f1eaa04d84035fde1805876521685);
        
    
        var popup_63f04b19c5f28bad632044c68d7c3bb5 = L.popup({"maxWidth": "100%"});

        
            
                var html_2d09392d718a242a35e9b8744a72f881 = $(`<div id="html_2d09392d718a242a35e9b8744a72f881" style="width: 100.0%; height: 100.0%;">Location of ip: 172.217.22.14 Time-zone: Asia/Jerusalem</div>`)[0];
                popup_63f04b19c5f28bad632044c68d7c3bb5.setContent(html_2d09392d718a242a35e9b8744a72f881);
            
        

        marker_70920cf9784ee7e8f263519ac85800cc.bindPopup(popup_63f04b19c5f28bad632044c68d7c3bb5)
        ;

        
    
</script>
</html>